*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');






/*header*/


.menu{
    background-color: #155B8C;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: .875rem;
    color: white;
}

.navbar-toggler {
    margin-left: auto; /* Asegura que el botón hamburguesa esté alineado a la derecha */
    width: auto; /* Evita que el botón sea muy ancho */
}


/* Estilos iniciales de los enlaces */
.navbar-nav .nav-link {
    position: relative;
    color: white; /* Color del texto inicial */
    text-decoration: none; /* Remueve el subrayado predeterminado */
    padding-bottom: 2px; /* Espacio debajo del texto */
    transition: color 0.3s ease; /* Transición para el color del texto */
}

/* Estilos para el pseudo-elemento */
.navbar-nav .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: #23A6F0; /* Color de la línea */
    transition: width 0.3s ease; /* Transición de animación */
}

/* Animación del pseudo-elemento en hover */
.navbar-nav .nav-link:hover::after {
    width: 100%; /* Expande la línea al 100% en hover */
}

.navbar-nav .nav-link:hover {
    color: #23A6F0; /* Cambia el color del texto en hover */
}



/*main*/


/*Home*/



    /*Home - seccion 1*/


.portada-home{
    margin-top: .1875rem;
}


.carousel-item img {
        height: 32rem; 
        width: 100%;
        object-fit:cover; 
}







/*



    /*Home - seccion 2*/

.circulos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    margin: 3.75rem 0rem 3.75rem 0rem;
    
}




/*home-nosotros*/


.circulo-nos{
    display: flex;
    flex-direction: column;
    gap: .9375rem;
    align-items: center;

}

.circulo-nos img {
    width: 9.375rem;
    height: auto;
    transition: filter 0.3s ease; 
    
}   

.circulo-nos img:hover {
    filter: grayscale(100%); /* Convierte la imagen a blanco y negro en hover */
} 

.circulo-nos h2{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.0625rem;
    align-items: center;
}

.circulo-nos p{
    width: 12.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: .75rem;
    text-align: center;
}


/*home-especialidad*/


.circulo-espe{
    display: flex;
    flex-direction: column;
    gap: .9375rem;
    align-items: center;

}

.circulo-espe img {
    width: 9.375rem;
    height: auto;
    transition: filter 0.3s ease; 
}   

.circulo-espe img:hover {
    filter: grayscale(100%); /* Convierte la imagen a blanco y negro en hover */
} 




.circulo-espe h2{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.0625rem;
    align-items: center;
}

.circulo-espe p{
    width: 12.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: .75rem;
    text-align: center;
}

/*home-contacto*/

.circulo-cont{
    display: flex;
    flex-direction: column;
    gap: .9375rem;
    align-items: center;


}

.circulo-cont img {
    width: 9.375rem;
    height: auto;
    transition: filter 0.3s ease;
}   


.circulo-cont img:hover {
    filter: grayscale(100%); /* Convierte la imagen a blanco y negro en hover */
} 




.circulo-cont h2{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.0625rem;
    align-items: center;
}

.circulo-cont p{
    width: 12.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: .75rem;
    text-align: center;
}

/*home-ingresar*/

.circulo-ing{
    display: flex;
    flex-direction: column;
    gap: .9375rem;
    align-items: center;

}

.circulo-ing img {
    width: 9.375rem;
    height: auto;
    transition: filter 0.3s ease;
}   


.circulo-ing img:hover {
    filter: grayscale(100%); /* Convierte la imagen a blanco y negro en hover */
}


.circulo-ing h2{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.0625rem;
    
}

.circulo-ing p{
    width: 12.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: .75rem;
    text-align: center;
}









    /*Home - seccion Articulos*/

.contenedor-notas{
    width: 100%;
    height: 22rem;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    background-color: #f6f6f6;
    padding: 0rem 5rem 0rem 5rem;
    
    
}


.Segmento1{
    display: flex;
    flex-direction: row;
            }
    
.Segmento1 img{

        height: 19.6875rem;
        object-fit: contain;
        }




.texto1 h2{
    width: 18rem;
    font-size: 1.125rem;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    margin-left: 1.875rem ;
}

.texto1 p{
        width: 18rem;    

        font-size: .75rem;
        margin-top: .9375rem;
        }

.mujer-sonriendo{
    display: flex;
    flex-direction: row;
}

.mujer-sonriendo img{
    width: 15.6875rem;
    height: 19.6875rem;
    object-fit:cover;
}




/*nosotros*/



/*nosotros - seccion1*/
.seccion-principal-nos{
    margin-top: .1875rem;
}

.seccion-principal-nos img{
    width: 100%;
    height: auto;
}


/*nosotros - seccion2*/

.seccion-secund{
    background-color: #edecec;
    height: 31.25rem;
    width: 100%;
}

.art-secundaria-nos{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    padding-top: 2.5rem ;
    margin-right: 30%
}


.art-secundaria-nos img{
    width: 18.75rem;
    height: 25rem;
    object-fit:cover;
    padding: 1.25rem 1.25rem;
}

.texto-nota{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.texto-nota h2,p{
    width: 25rem;
    font-family: "Roboto", sans-serif;
    padding: 0rem 1.875rem;


    
    }

.texto-nota h2{
    font-size: 1.25rem;
    margin-top: 1.25rem;
    align-self: center;
    text-align: center;

}

.texto-nota p{

    font-size: .9375rem;
    margin-top: .9375rem;
}



/*especialidades*/

.niña-dentista {
        padding-top: .1875rem;
}

.niña-dentista img{
    width: 100%;
    height: auto ;
}




/* seccion espe*/


.section-espe{
    background-color: #F8F8F8;
    width: 100%;
    height: 50rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}


.primera-fila{

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    padding: 7.5rem 0rem 0rem 0rem;
}

.fila2-imagenes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    padding: 1.875rem 0rem 0rem 0rem;
}





/* espec. general*/

.sonrisa-general{

    display: flex;
    flex-direction: column;
    justify-content: center;

}

.sonrisa-general img{
    width: 20rem;
    height: 12rem;
    object-fit: cover;
    border-radius: .4rem

}

.sonrisa-general h4{
    font-family: "Roboto", sans-serif;
    padding: 0rem 1.875rem;
    font-size: 1.25rem;
    text-align: center;
}

/* endodoncia*/

.endodoncia{

    display: flex;
    flex-direction: column;
    justify-content: center;

}

.endodoncia img{
    width: 20rem;
    height: 12rem;
    object-fit: cover;
    border-radius: .4rem

}

.endodoncia h4{
    font-family: "Roboto", sans-serif;
    padding: 0rem 1.875rem;
    font-size: 1.25rem;
    text-align: center;
}


/* ortodoncia*/


.ortodoncia{

    display: flex;
    flex-direction: column;
    justify-content: center;

}

.ortodoncia img{
    width: 20rem;
    height: 12rem;
    object-fit: cover;
    border-radius: .4rem
}

.ortodoncia h4{
    font-family: "Roboto", sans-serif;
    padding: 0rem 1.875rem;
    font-size: 1.25rem;
    text-align: center;
}


/* implantes*/


.implantes{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.implantes img{
    width: 20rem;
    height: 12rem;
    object-fit: cover;
    border-radius: .4rem
    
}
.implantes h4{
    font-family: "Roboto", sans-serif;
    padding: 0rem 1.875rem;
    font-size: 1.25rem;
    text-align: center;
    
}

/* cirugia*/



.cirugia{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.cirugia img{
    width: 20rem;
    height: 12rem;
    object-fit: cover;
    border-radius: .4rem
    
}
.cirugia h4{
    font-family: "Roboto", sans-serif;
    padding: 0rem 1.875rem;
    font-size: 1.25rem;
    text-align: center;
    
}

/* odontopediatría*/

.odontopediatria {
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.odontopediatria img{
    width: 20rem;
    height: 12rem;
    object-fit: cover;
    border-radius: .4rem
    
}
.odontopediatria h4{
    font-family: "Roboto", sans-serif;
    padding: 0rem 1.875rem;
    font-size: 1.25rem;
    text-align: center;
    
}





.boton-especialidades{
    
    width: 8rem;
    background-color: #407df0;
    box-shadow: .0625rem .0625rem .25rem;
    border: none;
    padding: .625rem 1.25rem;
    font-size: 1rem;
    border-radius: .3125rem;
    cursor: pointer;

}












/*contacto*/


.herramientas{
    padding-top: .1875rem;

}


.herramientas img{
    width: 100%;
    height: auto;

}

.section-contacto{
    background-color: #F8F8F8;
    height: 43.75rem;
    
}


/*grid*/

.grid-form{

    width: 80%;
    padding: 2rem;
    gap: 2rem;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 3rem 3rem 3rem 3rem 5rem;
        
    grid-template-areas:
        
    "nombre apellido"
    "email email"
    "tel espe"
    "msj msj"
    "msj msj"
}

.nombre-form{

    grid-area: nombre;
    display: flex;
    gap: 1rem;
    

}

.apellido-form{

    grid-area: apellido;
    display: flex;
    gap: 0.8rem;
    

}

.email-form{

    grid-area: email;
    display: flex;
    gap: 2rem;

}


.tel-form{

    grid-area: tel;
    display: flex;
    gap: 0.8rem;

}

.espe-form{
    grid-area: espe;
    display: flex;
    gap: 0.8rem;
}


.msj-form{

    grid-area: msj;
    display: flex;
    gap: 0.8rem;

}

.btn-form{
    width: 13rem;
    border-radius: 0.6rem;
    margin: 0rem 5rem;
}






input{

all: unset;
border-bottom: 2px solid #04385e;

}

input:focus{

    background-color: #ffffff;
    color: #04385e;
    border-bottom: #04385e;
    
}

form{
    width: 20rem;

}





label {
    display: block;
    margin-bottom: 5px;
}
input, textarea, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    background-color: #4CAF50; /* Verde */
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}











/*ingresar*/


.portada-ingresar{
    padding-top: .1875rem;
}

.portada-ingresar img{
    width: 100%;
    height: auto;
    
}


.login-section {
    background-color:#F8F8F8;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login-container {

    padding: 2rem;
    width: 500px;
    text-align: center;
}

h2 {
    font-family: "Roboto", sans-serif;
    margin-bottom: 1.5rem;
    color: #333;
}

label {
    font-family: "Roboto", sans-serif;
    display: block;
    margin: 0.5rem 0 0.2rem 0;
    font-weight:bolder;
}

input {
    width: 100%;
    padding: 0.7rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #23A6F0;
    color: white;
    border: none;
    padding: 0.7rem;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: #1974a8;
}

.error {
    color: red;
    margin-top: 1rem;
    font-size: 0.9rem;
    display: none;
}







/*Footer*/



footer{
    width: 100%;
}

.grid-container{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 100px 70px 60px;
    
    grid-template-areas:
    
    "logo menus"
    "iconos menus"
    "manda manda" 
}

/* logo*/

.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.logo img{

    grid-area: logo;
    width: 70%;



/* menu footer*/
    
}
.menus{
    background-color:rgb(255, 255, 255);
    grid-area: menus;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding-left: 3.125rem;   
}


.menus-footer {
display: flex;
flex-direction: column;
}

.menus-footer a{
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: .8125rem;
    margin: .375rem;
    color: #155B8C;

}


.menus-footer2 {
    display: flex;
    flex-direction: column;
    padding-left: 3.125rem ;
    margin-bottom: 1.875rem;
    }
    
.menus-footer2 a{
        text-decoration: none;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: .8125rem;
        margin: .375rem ;
        color: #155B8C;
    
    }



.menus-footer a:hover,
.menus-footer2 a:hover {
    color: #47aaf1;
}




/* iconos*/



.iconos{
    background-color:rgb(255, 255, 255);
    grid-area: iconos;
    display: flex;
    justify-content: center;
    align-items: top;
    gap: .9375rem;
    padding: 0rem 0rem 0rem 0rem;



}
.iconos img{
    width: 1.875rem;
    height: 1.875rem;

}

.manda{
    background-color:#155B8C;
    grid-area: manda;
    display: flex;
    align-items: center;

}

.manda p{
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: .8125rem;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;


}




























/*@media tablet*/

@media (max-width:1024px){


    /*Home - seccion 1*/



    
    
    .carousel-item img {
            height: 24rem; 
            width: 100%;
            object-fit:cover; 
    }

    .navbar {
        padding-top: 1rem; /* Espacio superior */
        padding-bottom: 1rem; /* Espacio inferior */
    }



/*Home - seccion 1 - 1024*/



/*



    /*Home - seccion 2 - 1024*/

.circulos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    margin: 3.75rem 0rem 3.75rem 0rem;
    
}




/*home-nosotros - 1024*/


.circulo-nos{
    display: flex;
    flex-direction: column;
    
    align-items: center;

}

.circulo-nos img {
    width: 9.375rem;
    height: auto;
}   

.circulo-nos h2{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.0625rem;
    align-items: center;
}

.circulo-nos p{
    width: 10rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: .75rem;
    text-align: center;
}


/*home-especialidad - 1024*/


.circulo-espe{
    display: flex;
    flex-direction: column;
    
    align-items: center;

}

.circulo-espe img {
    width: 9.375rem;
    height: auto;
}   

.circulo-espe h2{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.0625rem;
    align-items: center;
}

.circulo-espe p{
    width: 10rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: .75rem;
    text-align: center;
}

/*home-contacto - 1024*/

.circulo-cont{
    display: flex;
    flex-direction: column;

    align-items: center;


}

.circulo-cont img {
    width: 9.375rem;
    height: auto;
}   

.circulo-cont h2{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.0625rem;
    align-items: center;
}

.circulo-cont p{
    width: 10rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: .75rem;
    text-align: center;
}

/*home-ingresar - 1024*/

.circulo-ing{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.circulo-ing img {
    width: 9.375rem;
    height: auto;
}   

.circulo-ing h2{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.0625rem;
    
}

.circulo-ing p{
    width: 10rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: .75rem;
    text-align: center;
}










/*Home - seccion Articulos - 1024*/ 

.contenedor-notas{
    width: 100%;
    height: 45rem;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    background-color: #f6f6f6;
    padding: 0rem 5rem 0rem 5rem;
    
    
}


.Segmento1{
    display: flex;
    flex-direction: row;
}

.contenedor-notas img{

    height: 19.6875rem;
    object-fit: contain;

    
}

.texto1 h2{
    width: 18rem;
    font-size: 1.125rem;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    margin-left: 1.875rem ;
}

.texto1 p{
        width: 18rem;    

        font-size: .75rem;
        margin-top: .9375rem;
        }

.mujer-sonriendo{
    display: flex;
    flex-direction: row;
}

.mujer-sonriendo img{
    width: 15.6875rem;
    height: 19.6875rem;
    object-fit:cover;
}














/*Footer 1024*/



footer{
    width: 100%;
}

.grid-container{
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 100px 70px 60px;
    
    grid-template-areas:
    
    "logo menus"
    "iconos menus"
    "manda manda" 
}


.logo{
    grid-area: logo;
    width: 100%;
    
    
}
.logo img{


    width: 90%;
    margin-left: 30px;


    
}
.menus{
    background-color:rgb(255, 255, 255);
    grid-area: menus;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-left: 30px;

}


.menus-footer {
display: flex;
flex-direction: column;
}

.menus-footer a{
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: .8125rem;
    margin: .375rem;
    color: #155B8C;

}


.menus-footer2 {
    display: flex;
    flex-direction: column;
    padding-left: 4rem ;
    margin-bottom: 1.5rem;
    }
    
.menus-footer2 a{
        text-decoration: none;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: .8125rem;
        margin: .375rem ;
        color: #155B8C;
    
    }







.iconos{
    background-color:rgb(255, 255, 255);
    grid-area:iconos;
    display: flex;
    justify-content: center;
    align-items: top;
    margin-left: 2rem;
    gap: 0.8rem;
    



}
.iconos img{
    width: 1.875rem;
    height: 1.875rem;

}

.manda{
    background-color:#155B8C;
    grid-area: manda;
    display: flex;
    align-items: center;

}

.manda p{
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: .8125rem;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
}




/*nosotros - sección2 1024*/



.seccion-secund{
    background-color: #edecec;
    height: 31.25rem;
    width: 100%;
}

.art-secundaria-nos{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;
    padding-top: 2.5rem ;
    margin-left: 16rem;

}


.art-secundaria-nos img{
    width: 18rem;
    height: 22rem;
    object-fit:cover;

}

.texto-nota{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.texto-nota h2,p{
    width: 25rem;
    font-family: "Roboto", sans-serif;
    padding: 0rem 1.5rem;


    
    }

.texto-nota h2{
    font-size: 1.25rem;
    margin-top: 1.25rem;
    align-self: center;
    text-align: center;

}

.texto-nota p{

    font-size: .9375rem;
    margin-top: .9375rem;
}








































}


@media (max-width:480px){






/*Home - carrusel - 480*/ 

    .portada-home{
        margin-top: 3rem;
    }
    
    
    .carousel-item img {
            height: 20rem; 
            width: 100%;
            object-fit:cover; 
    }





/*Home - seccion 2 - 480*/

.circulos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 3.75rem 0rem 3.75rem 0rem;
    
}




/*home-nosotros - 480*/


.circulo-nos{
    display: flex;
    flex-direction: column;
    
    align-items: center;

}

.circulo-nos img {
    width: 9.375rem;
    height: auto;
}   

.circulo-nos h2{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.0625rem;
    align-items: center;
}

.circulo-nos p{
    width: 10rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: .75rem;
    text-align: center;
}


/*home-especialidad - 480*/


.circulo-espe{
    display: flex;
    flex-direction: column;
    
    align-items: center;

}

.circulo-espe img {
    width: 9.375rem;
    height: auto;
}   

.circulo-espe h2{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.0625rem;
    align-items: center;
}

.circulo-espe p{
    width: 10rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: .75rem;
    text-align: center;
}

/*home-contacto - 480*/

.circulo-cont{
    display: flex;
    flex-direction: column;

    align-items: center;


}

.circulo-cont img {
    width: 9.375rem;
    height: auto;
}   

.circulo-cont h2{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.0625rem;
    align-items: center;
}

.circulo-cont p{
    width: 10rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: .75rem;
    text-align: center;
}

/*home-ingresar - 480*/

.circulo-ing{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.circulo-ing img {
    width: 9.375rem;
    height: auto;
}   

.circulo-ing h2{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.0625rem;
    
}

.circulo-ing p{
    width: 10rem;

    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: .75rem;
    text-align: center;
}














/*Home - seccion Articulos - 480*/ 

.contenedor-notas{
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    background-color: #f6f6f6;
    padding: 0rem 5rem 0rem 5rem;
    
    
}


.Segmento1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor-notas img{
height: 15rem;
width: 23rem;
object-fit: cover;
}

.texto1 h2{
    width: 15rem;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    margin-top: .7rem;
}

.texto1 p{
        width: 25rem;
        font-size: .75rem;
        margin-top: .7rem;
        }



.mujer-sonriendo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mujer-sonriendo img{

    height: 15rem;
    width: 23rem;
}









/*nosotros - sección2 480*/

/*nosotros - seccion1*/
.seccion-principal-nos{
    margin-top: .1875rem;
}

.seccion-principal-nos img{
    width: 100%;
    height: 20rem;
    object-fit: cover;
}





.seccion-secund{
    background-color: #edecec;
    height: 30rem;
    width: 100%;
}

.art-secundaria-nos{
    
    display: flex;
    flex-direction: column;
    align-items:end;
    margin-left: 23.5rem;

}


.art-secundaria-nos img{
    height: 15rem;
    width: 23rem;
    object-fit: cover;


}

.texto-nota{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.texto-nota h2,p{
    width: 23rem;
    font-family: "Roboto", sans-serif;
    


    
    }

.texto-nota h2{
    font-size: 1.25rem;
    margin-top: 1.25rem;
    align-self: center;
    text-align: left;

}

.texto-nota p{

    font-size: .9375rem;
    margin-top: .1rem;
    text-align:left
}






























    
/*Footer 480*/



footer{
    width: 100%;
   
}

.grid-container{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px 40px 80px 30px;
    
    grid-template-areas:
    
    "logo logo"
    "iconos iconos"
    "menus menus"
    "manda manda" 
}


.logo{
    grid-area: logo;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 2rem;
    
    
}
.logo img{
    width: 80%;


    }



.menus{
    background-color:rgb(255, 255, 255);
    grid-area: menus;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-left: 30px;

}

/**/
.menus-footer {
display: flex;
flex-direction: column;

}

.menus-footer a{
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: .8125rem;
    gap: 0.1rem;
    margin: 0.01rem;
    color: #155B8C;

}


.menus-footer2 {
    display: flex;
    flex-direction: column;
    padding-left: 4rem ;
    margin-bottom: 1.5rem;
    }
    
.menus-footer2 a{
        text-decoration: none;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: .8125rem;
        gap: 0.1rem;
        margin: 0.01rem;
        color: #155B8C;
    
    }







.iconos{
    background-color:rgb(255, 255, 255);
    grid-area:iconos;
    display: flex;
    justify-content: center;
    align-items: top;
    padding-right: 3rem;

    



}
.iconos img{
    width: 1.6rem;
    height: 1.6rem;
    gap: 0.8rem;
}

.manda{
    grid-area: manda;
    background-color:#155B8C;
    height: 4rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

}

.manda p{
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: .8125rem;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding-top: 0.7rem;
}




}




