@media (max-width:768px){

    .circulos{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
        margin: 3.75rem 0rem 3.75rem 0rem;
        
    }
    
    
    
    
    /*home-nosotros - 768*/
    
    
    .circulo-nos{
        display: flex;
        flex-direction: column;
        align-items: center;

            img {
            width: 9.375rem;
            height: auto;
        }   

            h2{
            font-family: "Roboto", sans-serif;
            font-weight: 700;
            font-style: normal;
            font-size: 1.0625rem;
            align-items: center;
        }
        
            p{
            width: 10rem;
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: .75rem;
            text-align: center;
        }

    }
    


    
    
    /*home-especialidad - 768*/
    
    
    .circulo-espe{
        display: flex;
        flex-direction: column;
        
        align-items: center;

        img {
            width: 9.375rem;
            height: auto;
            }   
        
        h2{
            font-family: "Roboto", sans-serif;
            font-weight: 700;
            font-style: normal;
            font-size: 1.0625rem;
            align-items: center;
            }
        
        p{
            width: 10rem;
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: .75rem;
            text-align: center;
            }
    
    }
    

    
    /*home-contacto - 768*/
    
    .circulo-cont{
        display: flex;
        flex-direction: column;
    
        align-items: center;

        img {
            width: 9.375rem;
            height: auto;
            }   
        
        h2{
            font-family: "Roboto", sans-serif;
            font-weight: 700;
            font-style: normal;
            font-size: 1.0625rem;
            align-items: center;
            }
        
        p{
            width: 10rem;
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: .75rem;
            text-align: center;
            }
    
    
    }
    
 
    
    /*home-ingresar - 768*/
    
    .circulo-ing{
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            width: 9.375rem;
            height: auto;
        }   
        
        h2{
            font-family: "Roboto", sans-serif;
            font-weight: 700;
            font-style: normal;
            font-size: 1.0625rem;
            
        }
        
        p{
            width: 10rem;
        
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: .75rem;
            text-align: center;
        }
        
    
    }
    






                /*Especialidades*/
    .section-espe{
            gap: 1rem;
            flex-direction: row;
        

        .primera-fila{

            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1rem;
            padding: 1rem 0rem 2rem 0rem;
                    }

        .fila2-imagenes{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        gap: 1rem;
                        padding: 1rem 0rem 2rem 0rem;
                    }

        .sonrisa-general{
                    img{
                            width: 14rem;
                            height: 9rem;
                        }
                    }

            .endodoncia{
                    
                        img{
                            width: 14rem;
                            height: 9rem;
                        }
                    }
            .ortodoncia{
                    
                        img{
                            width: 14rem;
                            height: 9rem;
                        }                    
                    }
            .implantes{
                        img{
                            width: 14rem;
                            height: 9rem;
                        }
                    }
            .cirugia{
                        img{
                            width: 14rem;
                            height: 9rem;
                        }                    
                    }
            .odontopediatria {
                        img{
                            width: 14rem;
                            height: 9rem;
                        }
                    }
                
                
    }

                
    footer{
        width: 100%;

        .grid-container{
            display: grid;
            grid-template-columns: 30% 70%;
            grid-template-rows: 100px 70px 60px;
        
            grid-template-areas:
        
            "logo menus"
            "iconos menus"
            "manda manda"; 

            .logo{
                justify-content: center;
                    img{
                        width: 12rem;
                    }
            }

            .menus{
                justify-content: start;
            
            }
        }
    }
}














