@media (max-width:1024px){
    /*Home - seccion 1*/

    .container-fluid {
        max-width: 1024px;
        }

    .navbar-brand {
            display: flex;
            justify-content: center;
            width: 40%;
        }

        
        .navbar-toggler {
            margin-left: auto; /* Alinea el botón hamburguesa a la derecha */
        }
        
        .navbar-collapse {
            justify-content: flex-end; /* Alinea el menú colapsado a la derecha */
        }
        
        .navbar-nav {
            text-align: center; /* Centra los elementos del menú en dispositivos pequeños */
        }



    
    
    .carousel-item img {
            height: 32rem; 
            width: 64rem;
            object-fit:cover; 
    }



/*Home - seccion 1 - 1024*/



/*



    /*Home - seccion 2 - 1024*/

.circulos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    gap: 2rem;
    margin: 3.75rem 0rem 3.75rem 9rem;
}




/*home-nosotros - 1024*/


.circulo-nos{
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: 9.375rem;
        height: auto; 
    }

    h2{
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 1.0625rem;
        align-items: center;
        }   
    
        p{
            width: 10rem;
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: .75rem;
            text-align: center;
        }

}



/*home-especialidad - 1024*/


.circulo-espe{
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: 9.375rem;
        height: auto;
    }   
    
    h2{
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 1.0625rem;
        align-items: center;
}

    p{
        width: 10rem;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: .75rem;
        text-align: center;
    }
    
}



/*home-contacto - 1024*/

.circulo-cont{
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: 9.375rem;
        height: auto;
        }   
    
    h2 {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 1.0625rem;
        align-items: center;
        }
    
    p {
        width: 10rem;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: .75rem;
        text-align: center;
    }
    
}



/*home-ingresar - 1024*/

.circulo-ing{
    display: flex;
    flex-direction: column;
    align-items: center;



    img {
        width: 9.375rem;
        height: auto;
        }   

    h2{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.0625rem;
        }

    p{
    width: 10rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: .75rem;
    text-align: center;
    }
}












/*Home - seccion Articulos - 1024*/ 

.contenedor-notas{
    width: 100%;
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    background-color: #f6f6f6;
    padding: 0rem 5rem 0rem 5rem;

    
    
}


.Segmento1{

    flex-direction: row;
    margin: 2rem;
    padding: 0rem 4rem 0rem 4rem;

    img{
        width: 16rem;
        height: 19rem;
        object-fit:cover;
        }
    }

.texto1 {
    h2{
        width: 18rem;
        font-size: 1.5rem;
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        margin-left: 1rem;
        }
    
        p{
            width: 18rem;    
            font-size: 1rem;
            margin: 1rem;
    
        }
}


.mujer-sonriendo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;



    img{
        width: 16rem;
        height: 19rem;
        object-fit:cover;
        }
    
}

.texto2 {
    h2{
    width: 18rem;
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    margin-left: 1rem;
    
    }

    p{
        width: 18rem;    
        font-size: 1rem;
        margin: 1rem;

    }
}




/*especialidades*/



.primera-fila{

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    padding: 5rem 0rem 0rem 0rem;
}

.fila2-imagenes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    padding: 1.875rem 0rem 0rem 0rem;
}


/* espec. general*/

.sonrisa-general{

    display: flex;
    flex-direction: column;
    justify-content: center;

    img{
        width: 19rem;
        height: 12rem;
        object-fit: cover;
        border-radius: .4rem
    }

    h4{
        font-family: "Roboto", sans-serif;
        padding: 0rem 1.875rem;
        font-size: 1.25rem;
        text-align: center;
    }
}

/* endodoncia*/

.endodoncia{

    display: flex;
    flex-direction: column;
    justify-content: center;
    
    img{
        width: 19rem;
        height: 12rem;
        object-fit: cover;
        border-radius: .4rem
    }

    h4{
        font-family: "Roboto", sans-serif;
        padding: 0rem 1.875rem;
        font-size: 1.25rem;
        text-align: center;
    }
}

/* ortodoncia*/


.ortodoncia{

    display: flex;
    flex-direction: column;
    justify-content: center;

    img{
        width: 19rem;
        height: 12rem;
        object-fit: cover;
        border-radius: .4rem
    }
    
    h4{
        font-family: "Roboto", sans-serif;
        padding: 0rem 1.875rem;
        font-size: 1.25rem;
        text-align: center;
    }

}




/* implantes*/


.implantes{
    display: flex;
    flex-direction: column;
    justify-content: center;

    img{
        width: 19rem;
        height: 12rem;
        object-fit: cover;
        border-radius: .4rem
    }
    
    h4{
        font-family: "Roboto", sans-serif;
        padding: 0rem 1.875rem;
        font-size: 1.25rem;
        text-align: center;
        
    }

}



/* cirugia*/



.cirugia{
    display: flex;
    flex-direction: column;
    justify-content: center;

    img{
        width: 19rem;
        height: 12rem;
        object-fit: cover;
        border-radius: .4rem
        }
    h4{
        font-family: "Roboto", sans-serif;
        padding: 0rem 1.875rem;
        font-size: 1.25rem;
        text-align: center;
        }

}



/* odontopediatría*/

.odontopediatria {
    display: flex;
    flex-direction: column;
    justify-content: center;

    img{
        width: 19rem;
        height: 12rem;
        object-fit: cover;
        border-radius: .4rem
        }
    h4{
        font-family: "Roboto", sans-serif;
        padding: 0rem 1.875rem;
        font-size: 1.25rem;
        text-align: center;
        }
}













/*Footer 1024*/



footer{
    width: 100%;

}

.grid-container{
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: 100px 70px 60px;
    
    grid-template-areas:
    
    "logo menus"
    "iconos menus"
    "manda manda" 
}


.logo{
    grid-area: logo;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;





    img{
        width: 75%;
        margin-left: 3rem;
        }
    }

    
.menus{
    background-color:rgb(255, 255, 255);
    grid-area: menus;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-left: 30px;

}


.menus-footer {
    display: flex;
    flex-direction: column;

    a{
        text-decoration: none;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: .8125rem;
        margin: .375rem;
        color: #155B8C;
    }

}




.menus-footer2 {
    display: flex;
    flex-direction: column;
    padding-left: 4rem ;
    margin-bottom: 1.5rem;
    
        a{
            text-decoration: none;
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: .8125rem;
            margin: .375rem ;
            color: #155B8C;
    
        }
    }
    



.iconos{
    background-color:rgb(255, 255, 255);
    grid-area:iconos;
    display: flex;
    justify-content: center;
    align-items: top;
    margin-left: 4rem;
    gap: 0.8rem;

    img{
        width: 1.875rem;
        height: 1.875rem;
    
        }
    
    }


.manda{
    background-color:#155B8C;
    grid-area: manda;
    display: flex;
    flex-direction: row;
    align-items:center;

    p{
        width: 100%;
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: .8125rem;
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    

}





/*nosotros - sección2 1024*/



.seccion-secund{
    background-color: #edecec;
    height: 31.25rem;
    width: 100%;
}

.art-secundaria-nos{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;
    padding-top: 2.5rem ;
    margin-left: 16rem;

    img{
        width: 18rem;
        height: 22rem;
        object-fit:cover;
    
    }
}




.texto-nota{
    display: flex;
    flex-direction: column;
    align-items: center;

    h2,p{
        width: 25rem;
        font-family: "Roboto", sans-serif;
        padding: 0rem 1.5rem;
        }

        h2{
            font-size: 1.25rem;
            margin-top: 1.25rem;
            align-self: center;
            text-align: center;
        }
        
        .texto-nota p{
        
            font-size: .9375rem;
            margin-top: .9375rem;
        }
    }


}