/*seccion 3 - Inicio */

.contenedor-notas {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
}





.Segmento1 {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    img {

        height: 19rem;
        width: 16rem;
        object-fit: contain;

    }
}

.texto1 {
    h2 {
        width: 13rem;
        font-size: 1.2rem;
        font-family: "Roboto", sans-serif;
        font-weight: 700;

    }

    p {
        width: 16rem;
        font-size: 0.88rem;

    }
}



.mujer-sonriendo {
    display: flex;
    flex-direction: row;
    gap: 1rem;



    img {

        height: 19rem;
        width: 16rem;
        object-fit: cover;
    }

    .texto2 {
        h2 {
            width: 10rem;
            font-size: 1.2rem;
            font-family: "Roboto", sans-serif;
            font-weight: 700;
            margin: 0rem 0.9rem;
        }

        p {
            width: 16rem;
            font-size: 0.88rem;
            margin: 0.8rem 1rem;
        }
    }

}



/* noosotros*/


.art-secundaria-nos {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    padding-top: 2.5rem;
    margin-right: 5%;
    gap: 1.5rem;


    img {
        width: 18.75rem;
        height: 25rem;
        object-fit: cover;
        padding: 1.25rem 1.25rem;
    }

}

.texto-nota {
    display: flex;
    flex-direction: column;
    align-items: center;


    h2,
    p {
        width: 40rem;
        font-family: "Roboto", sans-serif;

    }

    h2 {
        font-size: 1.25rem;
        margin-top: 1.25rem;
        align-self: center;
        text-align: center;
    }

    p {
        font-size: .8rem;
        margin-top: .9375rem;
        text-align: justify;
    }
}